{# src/OC/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Test StofDoctrineExtensionsBundle{% endblock %}</title>

        {% block stylesheets %}
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <div id="header" class="jumbotron">
                <h1>Test StofDoctrineExtensionsBundle</h1>
                <p>
                    Hello World!
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" target="_blank" href="https://symfony.com/doc/current/bundles/StofDoctrineExtensionsBundle/index.html">
                        StofDoctrineExtensionsBundle
                    </a>
                </p>
            </div>

            <div class="row">
                <div id="menu" class="col-md-3">
                    <h3>Menu</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="{{ path('homepage') }}" class="btn btn-default">
                                Accueil
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('add_category') }}" class="btn btn-default">
                                Add Category ( ne marche pas bien )
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('add_partie') }}" class="btn btn-default">
                                Ajouter une Partie
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('add_chapitre') }}" class="btn btn-default">
                                Ajouter un chapitre
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('add_section') }}" class="btn btn-default">
                                Ajouter une section
                            </a>
                        </li>
                    </ul>
                    <h4>Dernières Maj</h4>
                    {{ render(controller("CoreBundle:Core:menu", {'limit': 3})) }}
                </div>
                <div id="content" class="col-md-9">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <hr>

            <footer>
                <p>StofDoctrineExtensionsBundle TEST © {{ 'now'|date('Y') }}</p>
            </footer>
        </div>

        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% block javascripts %}

        {% endblock %}

    </body>
</html>
