{# On utilise ici le layout général, qui se situe dans ce même AppBundle maintenant #}
{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
    Category - {{ parent() }}
{% endblock %}

{% block body %}

    <div>

        {# On affiche tous les messages flash dont le nom est « notice » #}

        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                <p>{{ message }}</p>
            </div>


        {% endfor %}

    </div>

    <h2>{{ category.title }}</h2>

    <div class="well">
        <p>
            {% for item in path %}
                >> {{ item.title }}          
            {% endfor %}
        </p>
        {% if listItems %}
            <h2>Items List</h2>
            <ul class="list-group">
            {% endif %}
            {% for item in listItems %}
                <li class="list-group-item">
                    <h3>
                        <a href="{{ path('view_item', {'id': item.id}) }}">
                        {{ item.title }}   
                        </a>
                    </h3>
                </li>
            {% endfor %}
            {% if listItems %}
            </ul>
        {% endif %}

    </div>

    <p>
        <a href="{{ path('edit_category', {'slug': category.slug}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier la catégory
        </a>
        {% if category.level == 2 %}    
            <a href="{{ path('add_item', {'slug_category': category.slug}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i>
                Ajouter Item
            </a>
        {% endif %}
    </p>

{% endblock %}
